<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
/>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<%- include('./partials/header.ejs') %>
<div style="min-height: 700px">
  <div class="row" style="text-align: center; height: 100px; padding-top: 20px">
    <h1>Product Category Management</h1>
  </div>
  <div class="row">
    <div class="col-10" style="margin: 0 auto">
      <div class="align-items-center">
        <button
          type="button"
          class="btn btn-dark"
          data-mdb-ripple-color="dark"
          data-mdb-toggle="modal"
          data-mdb-target="#exampleModal"
        >
          Add
        </button>
      </div>
      <!-- <div class="form-outline mb-4" style="margin-top: 10px">
        <div class="row g-3">
          <div class="col-sm-6">
            <div class="form-outline">
              <input type="text" id="name" class="form-control" />
              <label class="form-label" for="form10Example1">Name</label>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="col-12">
              <label class="visually-hidden" for="inlineFormSelectPref"
                >Category</label
              >
              <select class="select form-select" id="category">
                <option value="">Category</option>
                <option value="Thiết Bị Điện Tử">Thiết Bị Điện Tử</option>
                <option value="Đồ Gỗ">Đồ Gỗ</option>
              </select>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="col-12">
              <label class="visually-hidden" for="inlineFormSelectPref"
                >Status</label
              >
              <select class="select form-select" id="price">
                <option value="">Price</option>
                <option value="0 - 1000000">Dưới 1tr</option>
                <option value="1000000 - 5000000">Từ 1tr - 5tr</option>
                <option value="5000000 - 10000000">Từ 5tr - 10tr</option>
                <option value="10000000 - 999999999">Từ 10tr trở lên</option>
              </select>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="col-12">
              <button class="btn btn-primary" id="filterBtn">Lọc</button>
            </div>
          </div>
        </div>
      </div> -->

      <div id="datatable" style="margin-top: 10px">
        <table
          id="example"
          class="display border table-bordered"
          width="100%"
        ></table>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add category</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <!-- Name input -->
          <div class="form-outline mb-4">
            <input type="text" id="form5Example1" class="form-control" />
            <label class="form-label" for="form5Example1">Code</label>
          </div>

          <div class="form-outline mb-4">
            <input type="text" id="form5Example1" class="form-control" />
            <label class="form-label" for="form5Example1">Name</label>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">
            Add
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="edits"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit category</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <!-- Name input -->
          <div class="form-outline mb-4">
            <input type="text" id="form5Example1" class="form-control" />
            <label class="form-label" for="form5Example1">Code</label>
          </div>

          <div class="form-outline mb-4">
            <input type="text" id="form5Example1" class="form-control" />
            <label class="form-label" for="form5Example1">Name</label>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">
            EDIT
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer.ejs') %>
<script>
  var dataSet = [
    {
      id: 1,
      code: "ĐT",
      name: "Điện thoại",
    },
    {
      id: 2,
      code: "MT",
      name: "Máy tính",
    },
    {
      id: 3,
      code: "DG",
      name: "Đồ gỗ",
    },
  ];

  $(document).ready(function () {
    var table = $("#example").DataTable({
      data: dataSet,
      columnDefs: [{ width: "220px", targets: 3 }],
      columns: [
        { title: "#", data: "id" },
        { title: "Code", data: "code" },
        { title: "Name", data: "name" },
        {
          title: "Actions",
          render: function (data, type, row) {
            var editButton =
              "<button      data-mdb-toggle='modal' data-mdb-target='#edits' class='edit-button btn btn-link btn-rounded btn-sm fw-bold' data-mdb-ripple-color='dark' data-id='" +
              row.id +
              "'>Edit</button>";
            var deleteButton =
              "<button class='delete-button btn btn-link btn-rounded btn-sm fw-bold' data-mdb-ripple-color='dark'' data-id='" +
              row.id +
              "'>Delete</button>";
            return editButton + " " + deleteButton;
          },
          orderable: false,
        },
      ],
    });
    $("#example").on("click", ".edit-button", function () {
      var id = $(this).data("id");
      // TODO: Xử lý logic khi click vào nút chỉnh sửa
      console.log("Edit button clicked for row ID", id);
    });

    // Xử lý sự kiện khi click vào nút xóa
    $("#example").on("click", ".delete-button", function () {
      var id = $(this).data("id");
      // TODO: Xử lý logic khi click vào nút xóa
      console.log("Delete button clicked for row ID", id);
    });
    // $("#filterBtn").click(function () {
    //   var name = $("#name").val();
    //   var category = $("#category").val();
    //   var price = $("#price").val();

    //   table
    //     .column(1)
    //     .search(name)
    //     .column(2)
    //     .search(category)
    //     .column(3)
    //     .search(price)
    //     .draw();
    // });
  });
</script>
